//variables
$color1: #56B3A0;
$color2: #BC8F89;
$color3: #529ABF;

$colorWhite: #fafbfc;
$colorWhite2: #f1f4f6;

$colorGdark: #333;
$colorG: #95A5A2;
$colorGlite: #495057;
$colorGlighter: #F5F5F5;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
